.atv-panel-head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.atv-panel-head > ux-icon {
  flex-shrink: 0;
  padding: 10px;
}
.atv-panel-head > ux-icon:not(:first-of-type):last-of-type,
.atv-panel-head > ux-button:last-of-type {
  justify-self: flex-end;
  margin-left: auto;
}
.atv-panel-content {
  padding: 8px;
  max-height: calc(100vh - 32px - 64px - 60px);
  overflow-x: hidden;
  overflow-y: auto;
}
